.header{
    position: fixed;
    z-index: 10;
    width: 100%;
    top: 0;
    background-color: #141414;
    display: flex;
    justify-content: center;
    align-items: center;
    .header-components{
        max-width: 1512px;
        width: 100%;
        padding: 6px 26px 10px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
}