@import "../../scss/mixin.scss";
.header{
    position: fixed;
    z-index: 10;
    width: 100%;
    top: 0;
    background-color: #141414;
    display: flex;
    @include flex(center, center, null, null);
    .header-components{
        max-width: 1512px;
        width: 100%;
        padding: 6px 26px 10px;
        @include flex(center, space-between, null, null);
    }
}