@import '../../scss/mixin.scss';
.tours {
  margin-top: 60px;
  max-width: 1624px;
  display: flex;
  .tours-wrapper {
    display: none;
  }
  .tours-desc {
    width: 100%;
    padding: 0 10px;
    .tours-about {
      h4 {
        @include font(null, 13px, 600, null);
        @include gradient-text-270;
      }
      h2 {
        @include font(#020d19, 20px, 700, null);
      }
      p {
        @include font(#020d19, 16px, 400, null);
      }
    }
    .tours-statistics {
      display: none;
    }
  }
}
@media (min-width: 430px) {
  .tours {
    background-color: #000000;
    margin-top: 58.5px;
    .tours-desc {
      display: flex;
      padding: 8px 48px 30px;
      .tours-about {
        h4 {
          font-size: 16px;
          margin-bottom: 5px
        }
        h2 {
          @include font(#fff, 38.4px, null, null);
          margin-bottom: 20px
        }
        p {
          @include font(#fff, 12.8px, null, null);
        }
      }
    }
  }
}
@media (min-width: 1024px) {
  .tours {
    background-color: transparent;
    margin-top: 100px;
    padding-right: 144px;
    max-width: 1624px;
    display: flex;
    .tours-wrapper {
      padding: 5% 0;
      padding-right: 50px;
      @include flex(center, flex-end, null, null);
      width: 60%;
      border-radius: 0px 1000px 1000px 0px;
      background: linear-gradient(90deg, #73432e 0%, #e9d56d 100%);
      .tours-wrapper-image {
        width: 60%;
        max-width: 483px;
        img {
          width: 100%;
          height: 100%;
          object-fit: contain;
        }
      }
    }
    .tours-desc {
      padding-top: 17px;
      padding-left: 13px;
      width: 52%;
      @include flex(null, null, column, 40px);
      .tours-about {
        h4 {
          font-size: 19.2px;
        }
        h2 {
          @include font(#020d19, 38.4px, null, null);
        }
        p {
          @include font(#020d19, 12.8px, null, null);
        }
      }
      .tours-statistics {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 41.6px;
        row-gap: 24.8px;
        .statistic-card {
          padding: 19.2px 0 16.8px;
          border-radius: 10px;
          box-shadow: 0px 0px 4px 2px rgba(0, 0, 0, 0.15);
          .statistic-data {
            @include flex(center, null, column, 2px);
            h2 {
              @include font(null, 32px, 700, null);
              @include gradient-text-90;
            }
            h4 {
              @include font(#020d19, 16px, 600, null);
              text-align: center;
              white-space: nowrap;
            }
          }
        }
      }
    }
  }
}
@media(min-width: 1240px){
    .tours{
        .tours-desc{
            .tours-statistics{
                .statistic-card{
                    .statistic-data{
                        h2{
                            font-size: 38.4px;
                        }
                        h4{
                            font-size: 19.2px;
                        }
                    }
                }
            }
        }
    }
}
