@import "../../../../scss/mixin.scss";
.language-change{
    position: relative;
    .selected-language{
        cursor: pointer;
        @include flex(center, null, null, 12.8px);
        @include font(#fff, 12.8px, 600, null);
        border-radius: 5px;
        border: 1px solid rgba(255, 255, 255, 0.25);
        background-color: #141414;
        padding: 8px 10px;
        &.active{
            border-bottom: none;
            border-bottom-left-radius: 0;
            border-bottom-right-radius: 0;
        }
    }
    .dropdown{
        display: none;
        position: absolute;
        left: 0;
        background-color: #141414;
        padding-top: 0;
        // width: 80px;
        border: 1px solid rgba(255, 255, 255, 0.25);
        border-top: none;
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
        width: 75.34px;
        .selectable-language{
            width: 100%;
            cursor: pointer;
            background-color: transparent;
            border: none;
            @include font(#fff, 12.8px, 600, null);
            padding-left: 10px;
            padding-top: 5px;
            padding-bottom: 8px;
            text-align: left;
        }
        .unselectable-language{
            display: none;
        }
        &.show{
            display: block;
        }
    }
}