@import "../../scss/mixin.scss";
.main {
  display: none;
}
@media (min-width: 430px) {
  .main {
    position: relative;
    margin-top: 5vh;
    background-image: url("../../assets/Main.svg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100vw;
    height: 90vh;
    @include flex(flex-start, center, column, 100px);
    padding: 0 6%;
    .company-desc {
      max-width: 1536px;
      @include flex(null, null, column, 15px);
      .motto {
        text-align: left;
        @include font(#fff, 32px, 700, null);
        .gold {
          background: linear-gradient(to right, #cca34e, #cca44f);
          -webkit-background-clip: text;
          color: transparent;
        }
      }
      .advantages-list {
        @include flex(center, flex-start, null, 10px);
        .advantage {
          @include font(#fff, 16px, 600, null);
          @include flex(center, null, null, 5px);
          img{
            width: 16px;
            height: 16px;
          }
        }
      }
    }
  }
}
@media (min-width: 1024px) {
  .main {
    align-items: center;
    .company-desc {
      .motto {
        font-size: 48px;
        text-align: center;   
      }
      .advantages-list {
        @include flex(center, center, null, null);
        .advantage {
          font-size: 19.2px;
          img{
            width: 19.2px;
            height: 19.2px;
          }
        }
      }
    }
    .modal-button{
      display: none;
      align-self: flex-start;
    }
  }
}