@import "../../scss/mixin.scss";
.transparent-button{
    cursor: pointer;
    padding: 8px 18px;
    white-space: nowrap;
    background-color: transparent;
    @include font(#fff, 15.2px, 600, null);
    border-radius: 3px;
    border: 1.5px solid #fff;
    transition: all 0.3s linear;
}
@media (min-width: 1240px){
    .transparent-button{
        cursor: pointer;
        font-size: 19.2px;
    }
}