@import "../../scss/mixin.scss";
.footer {
  margin-top: 55px;
  background-color: #141414;
  @include flex(null, center, null, null);
  width: 100%;
  padding-top: 10px;
  padding-bottom: 20px;
  .footer-content {
    max-width: 1172px;
    width: 100%;
    @include flex(center, null, column, 185px);
    .footer-content-top {
      @include flex(null, space-between, column, null);
      .footer-details {
        .contact-us {
          display: none;
        }
        .find-us {
          h6 {
            display: none;
          }
          div {
            display: none;
          }
          .social-media {
            @include flex(null, center, row, 10px);
          }
        }
      }
    }
    .footer-content-bottom {
      display: none;
    }
  }
}
@media (min-width: 1024px) {
  .footer {
    margin-top: 100px;
    padding-top: 64px;
    padding-bottom: 48px;
    .footer-content {
      padding: 0 144px;
      .footer-content-top {
        width: 100%;
        @include flex(null, null, row, null);
        .footer-details {
          @include flex(null, null, null, 24px);
          .contact-us {
            @include flex(null, null, column, 24px);
            h6 {
              @include font(#fff, 10px, 500, 140%);
              letter-spacing: 0.4px;
              text-transform: uppercase;
              opacity: 0.4;
            }
            div {
              @include flex(null, null, column, 4px);
              span {
                font-variant-numeric: lining-nums proportional-nums;
                @include font(#fff, 14px, 500, 140%);
                opacity: 0.8;
              }
              a {
                font-variant-numeric: oldstyle-nums proportional-nums;
                @include font(#fff, 14px, 400, 140%);
                opacity: 0.8;
              }
            }
          }
          .find-us {
            @include flex(null, null, column, 24px);
            h6 {
              @include font(#fff, 10px, 500, 140%);
              letter-spacing: 0.4px;
              text-transform: uppercase;
              opacity: 0.4;
            }
            div {
              @include flex(null, null, column, 4px);
              p {
                font-variant-numeric: lining-nums proportional-nums;
                @include font(#fff, 14px, 500, 140%);
                opacity: 0.8;
              }
              span {
                font-variant-numeric: lining-nums proportional-nums;
                @include font(#fff, 12px, 500, 140%);
                opacity: 0.4;
              }
            }
            .social-media {
              @include flex(null, flex-start, row, 10px);
            }
          }
        }
      }
      .footer-content-bottom {
        width: 100%;
        @include flex(null, space-between, null, null);
        span {
          font-variant-numeric: oldstyle-nums proportional-nums;
          @include font(#fff, 10px, 500, 140%);
          opacity: 0.4;
        }
      }
    }
  }
}
