@import "../../scss/mixin.scss";
.contact {
  margin-top: 55px;
  @include flex(null, null, column, 20px);
  max-width: 1172px;
  padding: 0 10px;
  .contact-data {
    width: 100%;
    @include flex(null, null, column, 5px);
    .contact-data-text {
      h4 {
        @include font(null, 13px, 600, null);
        @include gradient-text-270;
      }
      h2 {
        @include font(#000, 20px, 700, null);
      }
      p {
        display: none;
      }
    }
    .contact-links {
      @include flex(null, null, column, 5px);
      li,
      li > a {
        @include flex(center, null, null, 5px);
        span {
          @include font(#020d19, 13px, 400, null);
        }
        img{
            width: 16px;
            height: 16px;
        }
      }
    }
  }
  .location {
    width: 100%;
    height: 247px;
    border-radius: 10px;
  }
}
@media (min-width: 430px) {
  .contact {
    padding: 0 48px;
    .contact-data {
      .contact-data-text {
        h4 {
          font-size: 19.2px;
        }
        h2 {
          font-size: 38.4px;
        }
        p {
          margin-bottom: 38px;
          display: block;
          @include font(#000, 16px, 400, null);
          opacity: 0.5;
        }
      }
      .contact-links {
        gap: 20px;
        li,
        li > a {
          span {
            font-size: 19.2px;
          }
          img{
            width: 24px;
            height: 24px;
          }
        }
      }
    }
    .location {
      height: 489px;
    }
  }
}
@media (min-width: 1024px) {
  .contact {
    margin-top: 100px;
    @include flex(null, null, row, null);
    padding: 0 144px;
    .contact-data {
      width: 50%;
      .contact-data-text {
        h4 {
          font-size: 19.2px;
        }
        h2 {
          font-size: 38.4px;
        }
        p {
          margin-bottom:0px;
          font-size: 12.8px;
          opacity: 1;
        }
      }
    }
    .location {
      width: 50%;
      height: auto;
    }
  }
}
