@import '../../../scss/mixin.scss';
.services-card {
  padding: 20px 7px 5px 10px;
  border-radius: 5px;
  box-shadow: 0px 0px 4px 2px rgba(0, 0, 0, 0.15);
  @include flex(null, space-between, column, null);
  .card-title {
    margin-bottom: 20px;
    @include font(null, 20px, 600, null);
  }
  .card-desc {
    @include font(#020d19, 14px, null, null);
  }
  .card-number {
    @include gradient-text-180;
    font-size: 32px;
    align-self: flex-end;
  }
}
@media (min-width:744px) {
  .services-card {
    padding: 30px 79px 10.74px 16px;
    .card-title {
      font-size: 32px;
    }
    .card-desc {
      font-size: 24px;
    }
    .card-number {
      font-size: 96px;
    }
  }
}
@media (min-width: 1024px) {
  .services-card {
    padding: 23px 16px 0 16px;
    border-radius: 3px;
    .card-title {
      font-size: 19.2px;
    }
    .card-desc {
      font-size: 12.8px;
    }
    .card-number {
      font-size: 38.4px;
    }
  }
}
