@import "../../scss/mixin.scss";
.about {
  margin-top: 45px;
  @include flex(flex-start,null, null, null);
  max-width: 1487px;
  .about-desc {
    width: 100%;
    padding: 0 48px;
    @include flex(null,null, column, 40px);
    .about-desc-text {
      h4 {
        @include gradient-text-270;
        @include font(null, 13px, 600, null);
      }
      h2 {
        @include font(#020d19, 20px, 700, null);
      }
      p {
        color: #020d19;
        font-size: 14px;
        font-weight: 400;
        line-height: 24px;
        @include font(#020d19, 14px, 400, 24px);
      }
    }
    .about-desc-advantages {
      display: none;
    }
    .about-desc-suggestion {
      display: none;
    }
  }
  .about-wrapper {
    display: none;
  }
}
@media (min-width: 430px) {
  .about {
    margin-top: 30px;
    @include flex(flex-start,null, null, null);
    max-width: 1487px;
    .about-desc {
      width: 100%;
      @include flex(null,null, column, 40px);
      .about-desc-text {
        h4 {
          @include gradient-text-270;
          @include font(null, 19.2px, 600, null);
        }
        h2 {
          @include font(#020d19, 38.4px, 700, null);
        }
        p {
          @include font(#020d19, 15px, 400, 24px)
        }
      }
      .about-desc-advantages {
        @include flex(null, space-between, null, null);
        .about-advantages-list {
          @include flex(null, null, column, 22.4px);
          .advantage-item {
            @include flex(center, null, null, 10px);
            h5 {
              @include gradient-text-90;
              @include font(null, 14.4px, 600, null)
            }
          }
        }
        .about-company-history {
          background: linear-gradient(180deg, #fff 0%, #fff4e4 100%);
          @include flex(flex-start, center, column, null);
          padding: 0 37px;
          border-top: 17.143px solid;
          border-image: linear-gradient(90deg, #694323 0%, #cca44f 100%);
          border-image-slice: 1;
          border-radius: 3px;
          h5 {
            @include font(#020d19, 16px, 600, null)
          }
          span {
            @include gradient-text-90;
            @include font(null, 72px, 600, null)
          }
        }
      }
    }
  }
}
@media (min-width: 1024px) {
  .about {
    margin-top: 100px;
    @include flex(flex-start,null, null, null);
    max-width: 1487px;
    padding: 0 144px;
    .about-desc {
      padding: 0;
      width: 50%;
      margin-right: 10px;
      @include flex(null, null, column, 40px);
      .about-desc-text {
        h4 {
          @include gradient-text-270;
          @include font(null, 19.2px, 600, null);
        }
        h2 {
          @include font(#020d19, 38.4px, 700, null);
        }
        p {
          @include font(#020d19, 15px, 400, 24px);
        }
      }
      .about-desc-advantages {
        @include flex(null, space-between, null, null);
        .about-advantages-list {
          @include flex(null, null, column, 22.4px);
          .advantage-item {
            @include flex(center, null, null, 10px);
            h5 {
              @include gradient-text-90;
              @include font(null, 14.4px, 600, null);
            }
          }
        }
        .about-company-history {
          background: linear-gradient(180deg, #fff 0%, #fff4e4 100%);
          @include flex(flex-start, center, column, null);
          padding: 0 37px;
          border-top: 17.143px solid;
          border-image: linear-gradient(90deg, #694323 0%, #cca44f 100%);
          border-image-slice: 1;
          border-radius: 3px;
          h5 {
            @include font(#020d19, 16px, 600, null)
          }
          span {
            @include gradient-text-90;
            @include font(null, 72px, 600, null);
          }
        }
      }
      .about-desc-suggestion {
        background-image: url("../../assets/AboutSuggestion.svg");
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        width: 100%;
        @include flex(flex-start, center, column, null);
        padding: 17px 23px 23px 24px;
        border-radius: 3px;
        h4 {
          @include font(#fff, 28px, 700, null);
          margin-bottom: 5px;
        }
      }
    }
    .about-wrapper {
      @include flex(flex-start, flex-start, null, null);
      width: 50%;
      height: 755px;
      img {
        width: 100%;
        height: 100%;
        object-fit: contain;
      }
    }
  }
}
